@font-face {
    font-family: 'Anivers_Regular';
    src: url('fonts/anivers_regular_french/Anivers_Regular-webfont.woff2') format('woff2'),
    url('fonts/anivers_regular_french/Anivers_Regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
html{
    @apply h-full;
}
body{
    @apply bg-cover font-sans bg-no-repeat bg-center h-full pt-56 text-white;
    background-image: url("../img/cover2.jpeg");
}
